{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "extends": "standard",
  "rules": {
    "semi": [1, "always"],
    "comma-dangle": [1, "always-multiline"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "plugins": ["jest"]
}
